.container__chamada {
    width: 107%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8rem;
}

.imagem1__chamada {
    width: 31.75rem;
    height: 27.375rem;
    box-sizing: border-box;
}

.conteudo__chamada {
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.paragrafo-conteudo__chamada {
    font-size: 1.94rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.titulo-conteudo__chamada {
    font-size: 4.7rem;
    font-weight: 700;
    color: var(--vermelho);
    padding-bottom: 3.5rem;
}

.container__botao-conteudo__chamada {
    width: 21.6rem;
    height: 3.8rem;
    box-sizing: border-box;
    background-color:var(--vermelho);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 1.7rem;
    font-weight: 500;
}