
.container__header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.logo {
    display: flex;align-self: baseline;
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    
    color: var(--vermelho);
}

.ponto__preto {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-self: flex-end;
    margin-bottom: 10px;
}


.lista__nav {
    width: 46vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

.itens__nav {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    
}

.botao__login {
    width: 13.725rem;
    min-height: 3.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    border: 2px var(--vermelho) solid;
    border-radius: 15px;
    color: var(--branco);
    font-size: 2rem;
    font-weight: 500;
    box-sizing: border-box;
}

