.container__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
/*CSS CHAMADA  */
.container__chamada {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'img conteudo';
    align-items: center;
    justify-items: center;
    margin-bottom: 16.562rem;
}

.imagem__notbook {
    width: 31rem;
    height: 26rem;
    grid-area: img;
    justify-self: center;
    padding-left: 5rem;
}

.conteudo__chamada {
    width: 34.25rem;
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin-left: 6rem;
    margin-bottom: 3.5rem;
}

.paragrafo__chamada {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.titulo__chamada {
    font-size: 4.6rem;
    font-weight: 900;
    color: var(--vermelho);
    margin-bottom: 4rem;
}

.botao__chamada {
    width: 21.875rem;
    height: 3.75rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    border-radius: 15px;
    color: var(--branco);
    font-size: 2rem;
    font-weight: 700;
}

/* CSS EMPRESA */

.container__empresa {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:'lista imagem-teclado'
                        ' botao botao';
    justify-items: center;
    align-items: center;
}

.container__lista-empresa {
    display: flex;
    box-sizing: border-box;
    justify-self: center;

}

.lista__empresa {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    grid-area: lista;
}

.itens__lista-empresa {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.itens__lista-empresa::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 36px;
    content:"\f058";
    color: var(--vermelho);
    margin-right: 1.8rem;
}

.imagem__teclado {
    width: 85%;
    height: 95%;
    grid-area: imagem-teclado;
}

.contato__empresa {
    width: 79%;
    grid-area: botao;
}

.titulo__contato-empresa {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container__contato-empresa {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.input__ligar {
    width: 30%;
    height: 70px;
    border: none;
    border-radius: 15px;
    padding-left: 2rem;
    background-color:#99999999;
    font-size: 1.9rem;
    box-sizing: border-box;
}

.botao__contato-empresa {
    width: 30%;
    height: 70px;
    border: none;
    border-radius: 15px;
    background-color: var(--vermelho);
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--branco);
    box-sizing: border-box;
}

